* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  height: 60px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}
nav h1 {
  font-size: 40px;
}
nav .links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
nav .links a {
  display: block;
  padding: 0px 10px;
}
nav a {
  text-decoration: none;
  color: #fff;
}

footer {
  height: 50px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

section {
  height: 100vh;
}

.sec-one {
  background-color: azure;
}

.sec-two {
  background-color: burlywood;
}
