* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: "merri-reg";
  src: url(../lib/Merriweather/Merriweather-Regular.ttf);
}
@font-face {
  font-family: "merri-ita";
  src: url(../lib/Merriweather/Merriweather-Italic.ttf);
}
@font-face {
  font-family: "merri-light";
  src: url(../lib/Merriweather/Merriweather-Light.ttf);
}
nav {
  height: 60px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}
nav h1 {
  font-size: 40px;
}
nav .links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
nav .links a {
  display: block;
  padding: 0px 10px;
  font-family: merri-reg;
}
nav a {
  text-decoration: none;
  color: #fff;
}

footer {
  height: 50px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

section {
  padding: 30px;
}
section h1 {
  font-size: 50px;
  font-family: merri-reg;
  text-decoration: underline;
}

.sec-one {
  background-color: azure;
  padding-top: 50px;
  background-image: url(../images/hero.jpg);
  background-position: center top;
  background-size: cover;
  height: 90vh;
}
.sec-one p {
  width: 50%;
  font-size: 15px;
  font-family: merri-reg;
  line-height: 25px;
}

.sec-two {
  height: 100vh;
  background-color: burlywood;
}
