* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: "merri-reg";
  src: url(../lib/Merriweather/Merriweather-Regular.ttf);
}

@font-face {
  font-family: "merri-ita";
  src: url(../lib/Merriweather/Merriweather-Italic.ttf);
}

@font-face {
  font-family: "merri-light";
  src: url(../lib/Merriweather/Merriweather-Light.ttf);
}

@font-face {
  font-family: "merri-bold";
  src: url(../lib/Merriweather/Merriweather-Bold.ttf);
}
